<div class="container">
  <div class="row">
    <div class=" col-md-3 col-lg-2">
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>
    <div class="col-md-8 col-lg-9 mb-3">
      <div class="top-image text-light">
        <p class="top-text text-center">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <h3 class="mt-5">新着商品</h3>
      <%= render '/public/items/item_info', items: @items %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3 text-right">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>
  </div>
</div>