<div class="row">
  <div class="col-sm-12 col-md-10 mb-1 text-danger">
    <% if genre.errors.any? %>
      <%= genre.errors.count %>件のエラーが発生しました
      <ul>
        <% genre.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>