<!--ジャンル検索機能つける(優先度低)-->
<table class="table table-sm table-bordered text-center">
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
